# .gitignore

# Dependency directories
node_modules/

# Log files and npm debug log
npm-debug.log*

# Runtime data
pids
logs
results
coverage
.nyc_output

# System Files
.DS_Store
Thumbs.db

# Environment variables file
.env
.env.local
.env.*.local

# Visual Studio Code configuration
.vscode/

# WebStorm configuration
.idea/

# Jest coverage
coverage/

# Next.js build output
.next/
out/

# Yarn
yarn-error.log
yarn.lock

# TypeScript build
dist/
*.tsbuildinfo
*.log

# ESLint
.eslintcache


