* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* If you're using CSS */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



.menu_toggle_block{
  display: block;
}

.menu_toggle_hidden{
  display: none;
}